.grid-c2{
    display:grid;
    grid-area: two;
}
.grid-c-title .grid-Name{
    margin-top:18px;
    font-size:20px;
    font-weight:500;
    font-family: "Plus Jakarta Sans", sans-serif;
    color:rgba(51, 62, 82, 0.5);
}
.grid-c-title h1{
    margin-top:18px;
    font-size:44px;
    letter-spacing:2.2px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.grid-expenditure{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:60px;
}
.grid-expenditure .income, .grid-expenditure .Expenses{
    display:flex;
    margin-top:18px;
    align-items:center;

}
.income .Expenses{
    dispaly:flex;
    align-items:flex-start;
    column-gap:16px;
    margin-top:12px;
    
}
.income .income_icon{
    display:flex;
    align-items: flex-start;
    background-color:#CBFFDE;
    border-radius:5px;
    width:30px;
    height: 30px;
    display:inline;
    align-items:center;
    color:#3FDB77;  
    margin-right:8px; 
    
}
.income-amount{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.income_icon .icon{
    align-items:center;
    justify-content:center;
    margin-top:7.5px;
    margin-left:6px; 
}
.income-amount h3{
    font-size:16px;
    color: #252525;
}
.income-amount span{
    font-size:14px;
    color:rgba(51, 62, 82, 0.4);
}
.Expenses .Expenses_icon{
    background-color:#FFEBF5;
    width:30px;
    height: 30px;
    border-radius:5px;
    display:inline;
    color:#FF379C;
    display:flex;
    align-items: flex-start;
    margin-right:8px; 

}
.Expenses_icon .icon{
    align-items:center;
    justify-content:center;
    margin-top:7.5px;
    margin-left:6px; 
}
.Expenses-amount{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.Expenses-amount h3{
    font-size:16px;
    color: #252525;
}
.Expenses-amount span{
    font-size:14px;
    color:rgba(51, 62, 82, 0.4);
}