.grid-c3{
    display:grid;
    grid-area:three;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.Account-dashboard{
    background-color:#FFFFFF;
    padding:20px;
    align-items:center;
    jusify-content:center;
    border-radius:10px;
}
.Account-details .pay{
    color:#333E52;
    font-size:16px;
}
.Account-details p{
    font-size:12px;
    margin-top:8px;
    color:rgba(51, 62, 82, 0.5);
}
.grid-item .text{
    font-size:13px;
    margin-top:12px;
}
.grid-item .grid-item-progress{
    background-color: rgba(37, 37, 37, 0.41);
    height:10px;
    border-radius:100vh;
    margin-top:8px;
}
.grid-item .grid-item-fill{
    width:80%;
    height:10px;
    background-color:rgba(37, 37, 37, 1);
    border-radius:100vh;
}
.grid-reciept-text h3, .grid-payable-text h3{
    margin-top:28px;
    font-size:16px;
}
.grid-Reciept, .grid-payable{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.grid-Reciept .Salary, .grid-payable .payable{
    display:flex;
    margin-top:20px;
}
.Salary,.payable{
    display:flex;
    align-items:flex-start;
    column-gap:10px;
    margin-top:12px;
    
}
.Salary .Salary_icon, .payable .payable_icon{
    display:flex;
    align-items: flex-start;
    background-color:#FFFFFF;
    width:40px;
    height: 40px;
    display:inline;
    align-items:center;
    color:#333E52;  
    margin-right:8px; 
    border-radius:6px
}
.Salary_icon .icon, .payable_icon .icon{
    width:20px;
    height:20px;
}
.Salary-amount, .payable_amount{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.Salary_icon .icon, .payable_icon .icon{
    align-items:center;
    justify-content:center;
    margin-top:9px;
    margin-left:9px; 
}
.Salary_amount h3,.payable_amount h3{
    font-size:16px;
    font-weight:600;
}
.Salary_amount span{
    font-size:12px;
    color:rgba(51, 62, 82, 0.4);
    font-weight: 500;
}
.payable_amount span{
    font-size:12px;
    color:rgba(51, 62, 82, 0.4);
    font-weight: 500;
}
hr{
    margin-top:30px;
    color:#ADADAD;
}
.service{
    margin-bottom: 40px;
}
